html, body {
    height: 100%;
}

#app {
    height: 100%;
}

.app-child {
    height: 100%;
}

.blueGradsient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    /* IE6-9 */
    height: 100%;
}

.noPadding {
    padding-right: 0;
}

.formMargin {
    padding-top: 45px;
    background-color: #B3E5FC;
    height: 50%;
}

.forgot-pw {
    margin-top: 20px;
    font-style: italic;
    color: darkblue;
}

.div-button {
    margin-top: 25px;
    text-align: center;
}

.div-button>button {
    width: 100px;
    border-radius: 3px;
}

.form-group {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.img-center {
    margin: 0 auto;
}

.background-img {
    height: 100vh;
    background-image: url('img/lessons.png')
}

.form-control {
    border-radius: 0;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
}

.footer-btn {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 15px;
    border-right: 1px black solid;
    background-color: white;
    height: 70px;
}

.footer-btn:nth-child(1) {
    background-image: url('img/achievement.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
}

.footer-btn:nth-child(2) {
    background-color: #043752;
    background-image: url('img/lesson.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
}

.footer-btn:last-child {
    border-right: none;
    background-image: url('img/profile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
}

.flex-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: space-between;
    padding-top: 30px;
    height: 80vh;
}

.flex-child {
    line-height: 2;
    border-radius: 5px;
    font-size: 1.4em;
    margin-top: 20px;
    height: 150px;
    background-color: #FF5867;
    flex: 0 0 34%;
}

.flex-child>a {
    color: white;
    font-size: 1.1em;
}

.flex-child:nth-child(odd) {
    margin-right: 15px;
}

.objective {
    font-weight: bold;
    text-align: center;
    color: dodgerblue;
    text-transform: uppercase;
}

.lesson-bg > .container {
    height: 73%;
    margin: 30px;
    border-radius: 30px;
    background-color: rgba(255,255,255, .75);
}

.lesson-bg {
    height: 100%;
    background-image: url('img/lessons.png');
}

.display-3 {
    background-color: dodgerblue;
    height: 50px;
    line-height: 50px;
    color: white;
    margin: 0;
}

.display-3::before {
    font-size: 1.5em;
    padding-left: 20px;
    content: "\2190";
    padding-right: 15px;
}

#myCarousel {
    margin-top: 25px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}


@media only screen and (min-width: 1224px) {
    /* Styles */
    .small-img {
        height: 65vh;
        width: auto;
    }
    .formMargin {
        background-color: white;
    }
}


/*   */

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 70%;
    margin: auto;
}
